@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: 'Graphik LC';
  font-weight: 400;
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.eot") format("embedded-opentype"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Graphik LC';
  font-weight: 500;
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.eot") format("embedded-opentype"), url("../fonts/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Graphik LC';
  font-weight: 600;
  src: url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG-Semibold.eot") format("embedded-opentype"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1;
}

button,
input,
textarea {
  outline: none !important;
  transition: all .3s;
  font-family: 'Inter', sans-serif;
}
button::placeholder,
input::placeholder,
textarea::placeholder {
  color: #a8a8a8;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important;
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #222;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222;
}

.transit {
  /* Safari */
  transition: all 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html {
  height: 100%;
}

svg {
  flex-shrink: 0;
}

svg,
path {
  transition: all .3s;
}

body {
  font-family: 'Graphik LC', sans-serif;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden;
  color: #1E2129;
}
body.fixed-body {
  overflow-y: hidden;
}
body.fixed-body .main__slider-pag {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
a:focus {
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  line-height: 100%;
}

.graphic-lc {
  font-family: 'Graphik LC', sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0;
}

.btn-blue {
  background: #0345FF;
  color: #FFFFFF;
}
.btn-blue:hover {
  background: #003EEF;
  color: #FFFFFF;
}

.btn-blue-outline {
  border: 1px solid #0345FF;
  color: #0345FF;
}
.btn-blue-outline:hover {
  background: #0345FF;
  color: #fff;
}
.btn-blue-outline:hover path {
  fill: #fff;
  stroke: #fff;
}

.btn-grey-outline {
  border: 2px solid #E9EAED;
  color: #0345FF;
}
.btn-grey-outline:hover {
  background: #F8F8F8;
  border: 2px solid #E0E3ED;
  color: #0345FF;
}

.display1 {
  font-weight: 800;
  font-size: 47.64px;
  line-height: 126%;
}
@media screen and (max-width: 992px) {
  .display1 {
    font-size: 25.4921px;
  }
}

.display2 {
  font-weight: 600;
  font-family: 'Graphik LC', sans-serif;
  font-size: 42px;
  line-height: 126%;
}
@media screen and (max-width: 992px) {
  .display2 {
    font-size: 25.4921px;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 17.8717px;
  line-height: 126%;
  color: #0345FF;
}
@media screen and (max-width: 992px) {
  .subtitle {
    font-size: 15px;
  }
}

.breadcrumbs {
  color: #242A3D;
  display: flex;
  align-items: center;
}
.breadcrumbs--white {
  color: #fff;
}
.breadcrumbs--white path {
  fill: #fff;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  position: relative;
}
.breadcrumbs__item:not(:first-child):before {
  content: '/';
  margin: 0 14px;
}
.breadcrumbs__item:hover path {
  fill: #8A8E9B;
}
.breadcrumbs__item svg {
  margin-top: -3px;
}
@media screen and (max-width: 992px) {
  .breadcrumbs {
    display: none;
  }
}

.remont-card {
  background: #FFFFFF;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  overflow: hidden;
  padding: 0 25px 43px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.remont-card:hover .remont-card__img::before {
  background: rgba(0, 0, 0, 0.16);
}
.remont-card__img {
  position: relative;
  width: calc(100% + 50px);
  margin-left: -25px;
}
.remont-card__img:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s;
}
.remont-card__img img {
  width: 100%;
}
.remont-card__icon {
  background: #020827;
  border: 3.4386px solid #FFFFFF;
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: -24px;
  position: relative;
  z-index: 3;
}
.remont-card__title {
  font-weight: 600;
  font-size: 21px;
  line-height: 106%;
  margin-top: 15px;
}
.remont-card__desc {
  font-size: 15px;
  line-height: 141%;
  max-width: 210px;
  margin: 15px 0 40px;
}
.remont-card__btn {
  width: 147px;
  height: 40px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  margin-top: auto;
}
.remont-card__btn svg {
  margin-left: 11px;
}
@media screen and (max-width: 992px) {
  .remont-card {
    padding: 0 17px 30px;
  }
  .remont-card__img {
    width: calc(100% + 34px);
    margin-left: -17px;
  }
  .remont-card__title {
    font-size: 15px;
    margin-top: 10px;
  }
  .remont-card__desc {
    font-size: 10.7143px;
    margin: 10px 0 28px;
  }
  .remont-card__btn {
    width: 105px;
    height: 28.57px;
    font-size: 10px;
  }
  .remont-card__btn svg {
    width: 10px;
    height: auto;
    margin-left: 7px;
  }
}

.feedback-card {
  background: #FFFFFF;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  height: 100%;
  padding: 36px 31px;
  min-height: 320px;
}
.feedback-card__stars {
  display: flex;
  align-items: center;
}
.feedback-card__star:not(:last-child) {
  margin-right: 3.3px;
}
.feedback-card__title {
  font-weight: 500;
  font-size: 19.3248px;
  line-height: 110%;
  color: #050515;
  margin-top: 36px;
}
.feedback-card__desc {
  font-size: 16.426px;
  margin-top: 17px;
  line-height: 144%;
  color: #08061A;
}

.contact-card {
  margin-top: 35px;
  background: #EDF4FD;
  border-radius: 30px;
  padding: 58px 64px 100px;
  text-align: center;
}
.contact-card__title {
  margin-top: 7px;
}
.contact-card__desc {
  font-size: 18px;
  line-height: 131%;
  margin-top: 28px;
}
.contact-card__links {
  margin-top: 49px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.contact-card__link {
  border-radius: 41.4743px;
  height: 48.73px;
  font-weight: 600;
  font-size: 15.5529px;
  color: #fff;
}
.contact-card__link svg {
  margin-right: 10px;
}
.contact-card__link:hover {
  color: #fff;
  opacity: 0.9;
  box-shadow: none;
}
.contact-card__link--whatsapp {
  background: #3AD556;
  box-shadow: 0px 4px 24px rgba(58, 212, 86, 0.45);
}
.contact-card__link--viber {
  background: #7326B9;
  box-shadow: 0px 4px 34px rgba(115, 38, 185, 0.35);
}
.contact-card__link--telegram {
  background: #2A9EF2;
  box-shadow: 0px 4px 24px rgba(42, 158, 242, 0.45);
}
.contact-card__link--vk {
  background: #3C76CC;
  box-shadow: 0px 4px 32px rgba(60, 118, 204, 0.45);
}
@media screen and (max-width: 1200px) {
  .contact-card {
    padding: 40px 13px 77px;
  }
  .contact-card__desc {
    font-size: 14.4666px;
    margin-top: 20px;
  }
  .contact-card__links {
    grid-template-columns: 1fr 1fr;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .contact-card__links {
    gap: 16px;
    grid-template-columns: 1fr;
    max-width: 250px;
  }
  .contact-card__title br {
    display: none;
  }
}

.news-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.news-card__img {
  display: block;
  overflow: hidden;
  height: 182px;
}
.news-card__img img {
  width: 100%;
  min-height: 100%;
}
.news-card__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #000000;
  display: block;
  margin-top: 17px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-card__title:hover {
  color: #0345FF;
}
.news-card__desc {
  font-size: 16px;
  line-height: 136%;
  letter-spacing: -0.02em;
  color: #5B5E68;
  margin: 13px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-card__hint {
  font-weight: 500;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: -0.02em;
  color: #0345FF;
  margin-top: auto;
}
@media screen and (max-width: 1200px) {
  .news-card__img {
    height: 210px;
  }
}
@media screen and (max-width: 992px) {
  .news-card__img {
    height: 170px;
  }
  .news-card__title {
    font-size: 19.7708px;
    margin-top: 15px;
  }
  .news-card__desc {
    font-size: 14.3787px;
    margin: 11px 0;
  }
  .news-card__hint {
    font-size: 14.3787px;
  }
}
@media screen and (max-width: 768px) {
  .news-card__img {
    height: unset;
  }
  .news-card__img img {
    height: auto;
  }
}

.header-top {
  border-bottom: 1px solid #EBF2F8;
}
.header-top__inner {
  min-height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-middle {
  font-family: 'Inter', sans-serif;
}
.header-middle__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header-middle__center {
  margin-left: auto;
}
.header-middle__left, .header-middle__right {
  display: flex;
  align-items: center;
}
.header-bottom {
  font-family: 'Inter', sans-serif;
  background: #020827;
}
.header-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mob {
  display: none;
}
.header__address {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.header__address svg {
  margin-right: 6px;
}
.header__logo {
  width: 184px;
  display: block;
}
.header__logo img {
  width: 100%;
}
.header__logo-text {
  margin-left: 16px;
  padding-left: 16px;
  font-weight: 600;
  font-size: 13.1274px;
  line-height: 127%;
  border-left: 1px solid #373C3F;
}
.header__btn {
  width: 190px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
}
.header__phones {
  display: flex;
  align-items: center;
  margin-right: 22px;
  margin-left: auto;
}
.header__phones-icon {
  background: #F8EFEF;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 16px;
}
.header__phone {
  font-weight: bold;
  font-size: 16.59px;
  line-height: 144%;
  letter-spacing: -0.03em;
  color: #151515;
  display: block;
}
.header__phone:hover {
  color: #0345FF;
}
.header__day {
  font-size: 13.1274px;
  display: flex;
  align-items: center;
}
.header__day:not(:last-child) {
  margin-top: 2px;
}
.header__day-sunday {
  margin-left: 5px;
  display: flex;
  align-items: center;
  background: #FFDBDB;
  border-radius: 42.1px;
  height: 21px;
  padding: 0 5px;
}
.header__link {
  display: flex;
  align-items: center;
  font-size: 13.3295px;
  line-height: 110%;
  color: #FFFFFF;
  padding: 17px 11px;
  min-height: 66px;
}
.header__link:not(:last-child) {
  margin-right: 24px;
}
.header__link img {
  margin-right: 14px;
  flex-shrink: 0;
}
.header__link:hover {
  background: #212745;
  color: #FFFFFF;
}

.nav {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
}
.nav__item {
  font-size: 12px;
  line-height: 156%;
  margin-left: 28px;
}
.nav__item:hover {
  color: #003EEF;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    width: 150px;
  }
  .header__logo-text {
    padding-left: 8px;
    margin-left: 8px;
    font-size: 12px;
  }
  .header__phones {
    margin-right: 10px;
  }
  .header__phones-icon {
    margin-right: 7px;
  }
  .header__phone {
    font-size: 15px;
  }
  .header__btn {
    width: 170px;
  }
  .header__link:not(:last-child) {
    margin-right: 5px;
  }
}
@media screen and (max-width: 992px) {
  .header-mob {
    display: block;
    padding: 13px 0;
  }
  .header-mob__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header-mob__logo {
    display: block;
    width: 105px;
    margin-right: auto;
  }
  .header-mob__logo img {
    width: 100%;
  }
  .header-mob__phone-block {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .header-mob__phone-block a {
    font-weight: bold;
    font-size: 13px;
    line-height: 144%;
    letter-spacing: -0.03em;
    color: #151515;
    display: block;
  }
  .header-mob__phone-block a:hover {
    color: #0345FF;
  }
  .header-mob__phone-icon {
    background: #F8EFEF;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  .header-dekstop {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: calc(100% - 65px);
    height: 100vh;
    z-index: 20;
    top: 0;
    left: -100%;
    background: #020827;
    box-shadow: 0px 7px 94px rgba(0, 0, 0, 0.45);
    overflow-y: auto;
    transition: all .3s;
  }
  .header-dekstop::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .header-dekstop::-webkit-scrollbar-track {
    background: #7786A5;
  }
  .header-dekstop::-webkit-scrollbar-thumb {
    background: #2551AF;
    border-radius: 20px;
  }
  .header-dekstop--active {
    left: 0;
  }
  .header-bottom__inner {
    display: block;
    padding: 30px 0;
    border-top: 1px solid #252A44;
    border-bottom: 1px solid #252A44;
  }
  .header-middle__inner {
    flex-wrap: wrap;
    padding: 25px 0 40px;
  }
  .header-middle__left {
    display: none;
  }
  .header-middle__center {
    width: 100%;
    opacity: 0.5;
    margin-top: 60px;
  }
  .header-top {
    border: none;
    order: 3;
  }
  .header-top__inner {
    padding: 40px 0;
    display: block;
  }
  .header__link {
    min-height: unset;
    padding: 0;
  }
  .header__link:not(:last-child) {
    margin-bottom: 16px;
  }
  .header__link br {
    display: none;
  }
  .header__link img {
    width: 40px;
  }
  .header__link:hover {
    background-color: transparent;
  }
  .header__phones {
    order: -1;
    width: 100%;
    margin: 0;
  }
  .header__phones-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
  .header__phones-icon svg {
    width: 12px;
  }
  .header__phone {
    color: #FFFFFF;
    font-size: 14.234px;
  }
  .header__day {
    display: inline-block;
  }
  .header__day-sunday {
    padding: 0;
    height: unset;
    display: inline-block;
    background-color: transparent;
  }
  .header__btn {
    width: 270px;
    height: 40px;
    margin-top: 24px;
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) and (max-width: 450px) {
  .header__btn {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .header__address {
    position: absolute;
    top: 78px;
  }
  .header__address svg {
    margin-top: 3px;
    align-self: flex-start;
  }
  .header__bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: right 19px top 19px;
    z-index: 19;
    display: none;
    cursor: pointer;
  }
  .header__bg--active {
    display: block;
  }

  .nav {
    display: block;
  }
  .nav__item {
    display: block;
    font-size: 15px;
    line-height: 110%;
    margin-left: 0;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 17px;
  }
}
.main {
  font-family: 'Inter', sans-serif;
  padding: 55px 0 110px;
  background-color: #f3f3f5;
  position: relative;
}
.main--remont {
  background: #191D2D;
  color: #FFFFFF;
}
.main--remont .main__bg {
  padding-left: calc(100% - 650px - (100% - 1224px) / 2);
}
@media screen and (max-width: 1300px) {
  .main--remont .main__bg {
    padding-left: calc(100% - 650px - (100% - 1340px) / 2);
  }
}
@media screen and (max-width: 992px) {
  .main--remont .main__bg {
    padding-left: 0;
  }
  .main--remont .main__bg:before {
    display: none;
  }
}
.main__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  text-align: right;
}
.main__bg img {
  height: 100%;
  width: auto;
  margin-left: auto;
}
.main__bg-mob {
  display: none;
}
.main__bg-dekstop {
  position: absolute;
  right: 0;
  top: 0;
}
.main__inner {
  max-width: 630px;
  position: relative;
  z-index: 2;
}
.main__address {
  font-weight: 500;
  font-size: 19.1697px;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.main__address svg {
  margin-right: 11px;
}
.main__title {
  margin-top: 24px;
}
.main__items {
  margin-top: 15px;
}
.main__item {
  margin-top: 9px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 17.4778px;
  line-height: 150%;
  position: relative;
}
.main__item:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #0345FF;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: 0;
  top: 9px;
}
.main__btn {
  margin-top: 54px;
  width: 291px;
  height: 62px;
  border-radius: 66.1169px;
  font-weight: 500;
  font-size: 18.5127px;
}
.main__arrow {
  position: absolute;
  bottom: 21px;
  left: 330px;
}

.catalog {
  padding: 60px 0;
}
.catalog__top {
  display: flex;
  justify-content: center;
}
.catalog__title {
  position: relative;
}
.catalog__title svg {
  position: absolute;
  right: -30px;
  top: -15px;
}
.catalog__desc {
  margin-top: 17px;
  text-align: center;
  font-size: 20px;
  line-height: 142%;
}
.catalog__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px 18px;
  margin-top: 43px;
}

.about {
  padding: 40px 0 100px;
}
.about__subtitle {
  text-align: center;
}
.about__title {
  text-align: center;
  max-width: 950px;
  margin: 29px auto 0;
  line-height: 126%;
}
.about__title span {
  background: #E1EDFF;
  border-radius: 14px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}
.about__left {
  width: 590px;
  margin-right: 20px;
  flex-shrink: 0;
}
.about__left img {
  width: 100%;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
}
.about__right {
  max-width: 540px;
}
.about__title2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 126%;
}
.about__desc {
  margin-top: 25px;
}
.about__desc p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 142%;
  color: #1C162B;
}
.about__desc span {
  color: #0345FF;
  font-weight: 600;
}

.service {
  padding: 0 0 100px;
}
.service__inner {
  padding-top: 100px;
  border-top: 2px solid #F2F4FF;
  display: flex;
  justify-content: space-between;
}
.service__left {
  max-width: 580px;
}
.service__right {
  width: 517px;
  flex-shrink: 0;
  margin-left: 10px;
  padding-left: 30px;
  position: relative;
}
.service__right img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.service__img {
  position: relative;
}
.service__img:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #0345FF;
  opacity: 0.2;
  border-radius: 10px;
  width: calc(100% - 30px);
  height: 100%;
  bottom: 0;
  left: 0;
  transform: translate(-30px, 24px);
}
.service__title {
  margin-top: 20px;
  line-height: 126%;
}
.service__title span {
  background: #D2E4FF;
  border-radius: 14px;
  padding: 5px;
}
.service__desc {
  font-size: 18px;
  line-height: 142%;
  color: #1C162B;
  margin-top: 20px;
  max-width: 502px;
}
.service__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 44px;
}
.service__item-icon {
  width: 53px;
  height: 53px;
  background: #0345FF;
  border-radius: 14.6921px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 118%;
  color: #000000;
  margin-top: 18px;
}
.service__item-desc {
  margin-top: 22px;
  font-size: 18px;
}
.service__item-desc p {
  line-height: 142%;
  margin-top: 15px;
}

.advantages {
  background: #F6FAFF;
  padding: 100px 0;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
}
.advantages__left {
  max-width: 545px;
}
.advantages__right {
  width: 626px;
  flex-shrink: 0;
  margin-left: 10px;
  padding-left: 30px;
  position: relative;
}
.advantages__right img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.advantages__img {
  position: relative;
}
.advantages__img:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #0345FF;
  opacity: 0.2;
  border-radius: 10px;
  width: calc(100% - 30px);
  height: 100%;
  bottom: 0;
  left: 0;
  transform: translate(-23px, 27px);
}
.advantages__title {
  margin-top: 20px;
  line-height: 126%;
}
.advantages__title span {
  background: #D2E4FF;
  border-radius: 14px;
  padding: 5px;
}
.advantages__desc {
  font-size: 18px;
  line-height: 142%;
  color: #1C162B;
  margin-top: 20px;
  max-width: 502px;
}
.advantages__items {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 1300px) {
  .advantages__items {
    gap: 20px 10px;
  }
}
.advantages__item {
  font-weight: 500;
  font-size: 17px;
  line-height: 136%;
  display: flex;
}
.advantages__item-icon {
  flex-shrink: 0;
  margin-right: 18px;
}

.feedback {
  padding: 80px 0 160px;
}
.feedback--bg {
  background: #F7F8FD;
}
.feedback__stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback__star:not(:last-child) {
  margin-right: 4.5px;
}
.feedback__top {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.feedback__title {
  position: relative;
}
.feedback__title svg {
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(40px, 20px);
}
.feedback__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  .feedback__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .feedback__items {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.ask {
  padding: 160px 0 220px;
  background: #1C2030;
}
.ask__inner {
  display: flex;
  justify-content: space-between;
}
.ask__left {
  color: #fff;
  max-width: 500px;
  padding-bottom: 80px;
  position: relative;
}
.ask__right {
  width: 595px;
  position: relative;
}
.ask__arrow {
  position: absolute;
  left: 250px;
  bottom: -50px;
}
.ask__img {
  position: absolute;
  left: 0;
  top: -50px;
  border-radius: 10px;
  display: block;
}
.ask__title > span {
  background: #31374E;
  border-radius: 14px;
  padding: 10px;
  margin-left: -10px;
  position: relative;
}
.ask__title svg {
  position: absolute;
  left: 100%;
  bottom: 100%;
  transform: translate(-13px, 13px);
}
.ask__desc {
  font-size: 18px;
  letter-spacing: -0.02em;
}
.ask__desc p {
  line-height: 152%;
  margin-top: 25px;
}
.ask__desc a {
  color: #FF3131;
  font-weight: 700;
}
.ask__form {
  background: #FFFFFF;
  box-shadow: 0px 15.4696px 30px rgba(53, 134, 255, 0.1);
  border-radius: 14.3646px;
  width: 400px;
  margin-left: auto;
  padding: 49px 49px 45px;
  position: relative;
  z-index: 2;
}
.ask__form-title {
  font-weight: 600;
  font-size: 27.0475px;
  line-height: 107%;
  letter-spacing: -0.02em;
}
.ask__form-desc {
  font-size: 15.4696px;
  line-height: 131%;
  letter-spacing: -0.02em;
  margin: 10px 0 20px;
}
.ask__form-group {
  margin-bottom: 14px;
}
.ask__form-group input {
  background: #F7F7F9;
  border-radius: 5.52486px;
  height: 42px;
  padding: 0 11px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #3D4858;
  border: none;
  width: 100%;
}
.ask__form-btn {
  height: 58px;
  width: 100%;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .catalog {
    overflow: hidden;
  }
  .catalog .container {
    padding-right: 0;
  }
  .catalog__items {
    display: flex;
    gap: unset;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  .catalog__items::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .catalog__items::-webkit-scrollbar-track {
    background: #7786A5;
  }
  .catalog__items::-webkit-scrollbar-thumb {
    background: #2551AF;
    border-radius: 20px;
  }
  .catalog__item {
    width: 270px;
    margin-right: 18px;
    flex-shrink: 0;
  }

  .about__inner {
    margin-top: 49px;
  }
  .about__title {
    margin-top: 12px;
  }
  .about__left {
    width: 450px;
  }
  .about__desc {
    margin-top: 12px;
  }
  .about__desc p {
    margin-top: 0;
  }
  .about__desc p:not(:last-child) {
    margin-bottom: 15px;
  }

  .service__items {
    gap: 15px;
  }
  .service__item-title {
    font-size: 22px;
  }
  .service__item-desc {
    font-size: 15px;
  }

  .advantages__right {
    width: 500px;
  }

  .ask__img {
    display: none;
  }
  .ask__arrow {
    left: 0;
  }
}
@media screen and (max-width: 992px) {
  .main {
    padding: 0 0 36px;
  }
  .main--remont .main__inner {
    margin-top: 25px;
  }
  .main__bg {
    position: relative;
    left: 0;
    top: 0;
  }
  .main__bg img {
    width: 100%;
    height: auto;
  }
  .main__bg:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #F2F2F2 100%);
    width: 100%;
    height: 100%;
  }
  .main__bg-dekstop {
    display: none;
  }
  .main__bg-mob {
    display: block;
  }
  .main__inner {
    margin-top: -25px;
  }
  .main__address {
    font-size: 14.5713px;
  }
  .main__address svg {
    margin-right: 8px;
  }
  .main__title {
    margin-top: 10px;
  }
  .main__items {
    margin-top: 13px;
  }
  .main__item {
    margin-top: 7px;
    padding-left: 18px;
    font-size: 14.3789px;
  }
  .main__item:before {
    width: 5.76px;
    height: 5.76px;
  }
  .main__btn {
    margin-top: 34px;
    width: 335px;
    height: 56px;
  }
}
@media screen and (max-width: 992px) and (max-width: 550px) {
  .main__btn {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .main__arrow {
    bottom: 80px;
    left: 210px;
    transform: rotate(-14deg);
  }
  .main__arrow svg {
    width: 200px;
  }

  .catalog {
    padding: 45px 0 25px;
  }
  .catalog__title svg {
    width: 33px;
    height: auto;
  }
  .catalog__desc {
    margin: 9px auto 0;
    font-size: 14px;
    line-height: 133%;
    max-width: 250px;
  }
  .catalog__items {
    margin-top: 24px;
  }
  .catalog__item {
    width: 205px;
    margin-right: 12px;
  }

  .about {
    padding: 50px 0;
  }
  .about__inner {
    display: block;
  }
  .about__right {
    max-width: 100%;
    margin-top: 44px;
  }
  .about__title {
    max-width: 550px;
  }
  .about__title2 {
    font-size: 26px;
  }
  .about__desc p {
    font-size: 16px;
  }

  .service {
    padding-bottom: 50px;
  }
  .service__inner {
    padding-top: 50px;
    display: block;
  }
  .service__left {
    max-width: 100%;
  }
  .service__right {
    padding-left: 0;
    margin: 40px 0 0 0;
  }
  .service__img::before {
    width: 100%;
    transform: translate(-10px, 10px);
  }
  .service__desc {
    font-size: 16px;
    max-width: 100%;
  }
  .service__items {
    grid-template-columns: 1fr;
    margin-top: 33px;
    gap: 43px;
  }
  .service__item-icon {
    width: 41px;
    height: 41px;
  }
  .service__item-icon img {
    width: 24px;
  }

  .advantages {
    padding: 40px 0 60px;
  }
  .advantages__inner {
    display: block;
  }
  .advantages__left {
    max-width: 100%;
  }
  .advantages__right {
    padding-left: 0;
    margin: 40px 0 0 0;
  }
  .advantages__desc {
    font-size: 16px;
    max-width: 100%;
  }
  .advantages__img::before {
    width: 100%;
    transform: translate(-10px, 10px);
  }
  .advantages__items {
    margin-top: 45px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .advantages__items {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 992px) {
  .advantages__item {
    font-size: 15.4628px;
  }
  .advantages__item-icon {
    margin-right: 21px;
  }
  .advantages__item-icon img {
    width: 28px;
  }

  .feedback {
    padding: 60px 0 100px;
  }
  .feedback__star:not(:last-child) {
    margin-right: 3.9px;
  }
  .feedback__star svg {
    width: 20px;
  }
  .feedback__top {
    margin-top: 15px;
  }
  .feedback__title {
    max-width: 210px;
    margin: 0 auto;
    text-align: center;
  }
  .feedback__title svg {
    width: 160px;
    height: auto;
    transform: translate(-20px, -10px);
  }

  .ask {
    padding: 50px 0 0;
  }
  .ask__inner {
    padding-bottom: 100px;
    display: block;
    position: relative;
  }
  .ask__title > span {
    padding: 5px;
    margin-left: -5px;
  }
  .ask__desc {
    margin-top: 20px;
  }
  .ask__desc p {
    font-size: 15px;
    margin-top: 15px;
  }
  .ask__left {
    position: static;
    padding-bottom: 38px;
    margin: 0 auto;
  }
  .ask__right {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .ask__form {
    margin-left: 0;
    padding: 33px 28px 36px;
    width: unset;
    max-width: 355px;
  }
  .ask__form-title {
    font-size: 24.5604px;
  }
  .ask__form-desc {
    font-size: 14.0471px;
  }
  .ask__form-group {
    margin-bottom: 12px;
  }
  .ask__form-group input {
    height: 38.13px;
    font-size: 12.7126px;
  }
  .ask__form-btn {
    height: 52.67px;
    margin-top: 18px;
    font-size: 14.5287px;
  }
  .ask__arrow {
    left: unset;
    right: 100%;
    transform: translate(120px, 0);
    bottom: -20px;
  }
}
@media screen and (max-width: 768px) {
  .service__right,
  .advantages__right {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .about__left {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}
.footer__inner {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}
.footer__col {
  padding-top: 30px;
}
.footer__col:nth-child(1) {
  padding-top: 0;
  margin-right: auto;
}
.footer__col:nth-child(2), .footer__col:nth-child(3) {
  margin-right: 85px;
}
.footer__logo {
  width: 150px;
  display: block;
}
.footer__logo img {
  width: 100%;
}
.footer__text {
  margin-top: 200px;
  font-size: 16px;
  line-height: 150%;
}
.footer__link {
  display: flex;
  font-size: 16px;
  line-height: 159%;
}
.footer__link:not(:last-child) {
  margin-bottom: 5px;
}
.footer__link--address {
  max-width: 360px;
}
.footer__link i {
  flex-shrink: 0;
  margin: 3px 14px 0 0;
  width: 25px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .footer__inner {
    justify-content: space-between;
  }
  .footer__col:nth-child(1) {
    margin-right: 0;
  }
  .footer__col:nth-child(2), .footer__col:nth-child(3) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    padding: 35px 0 51px;
  }
  .footer__inner {
    display: block;
    position: relative;
  }
  .footer__col {
    padding-top: 45px;
  }
  .footer__text {
    position: absolute;
    bottom: -30px;
    margin-top: 0;
    left: 0;
  }
}
.footer__inner {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}
.footer__col {
  padding-top: 30px;
}
.footer__col:nth-child(1) {
  padding-top: 0;
  margin-right: auto;
}
.footer__col:nth-child(2), .footer__col:nth-child(3) {
  margin-right: 85px;
}
.footer__logo {
  width: 150px;
  display: block;
}
.footer__logo img {
  width: 100%;
}
.footer__text {
  margin-top: 200px;
  font-size: 16px;
  line-height: 150%;
}
.footer__link {
  display: flex;
  font-size: 16px;
  line-height: 159%;
}
.footer__link:not(:last-child) {
  margin-bottom: 5px;
}
.footer__link--address {
  max-width: 360px;
}
.footer__link i {
  flex-shrink: 0;
  margin: 3px 14px 0 0;
  width: 25px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .footer__inner {
    justify-content: space-between;
  }
  .footer__col:nth-child(1) {
    margin-right: 0;
  }
  .footer__col:nth-child(2), .footer__col:nth-child(3) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    padding: 35px 0 51px;
  }
  .footer__inner {
    display: block;
    position: relative;
  }
  .footer__col {
    padding-top: 45px;
  }
  .footer__text {
    position: absolute;
    bottom: -30px;
    margin-top: 0;
    left: 0;
  }
}
.about-service {
  padding: 60px 0 50px;
}
.about-service__inner {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.about-service__left {
  max-width: 550px;
}
.about-service__right {
  max-width: 560px;
  margin-left: 20px;
}
.about-service__img {
  display: block;
  width: 100%;
}
.about-service__info {
  background: #EDF4FD;
  border-radius: 7px;
  margin-top: 78px;
  padding: 53px 43px;
  font-size: 18px;
  line-height: 142%;
}
.about-service__desc {
  margin-top: 40px;
  font-size: 18px;
}
.about-service__desc p {
  line-height: 142%;
  margin-top: 20px;
}
.about-service__contacts {
  margin-top: 20px;
}
.about-service__contacts a {
  display: block;
  line-height: 142%;
  font-size: 18px;
}
.about-service__subtitle {
  margin-top: 60px;
  font-weight: 600;
  font-size: 29.2959px;
  line-height: 142%;
}
.about-service__items {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.about-service__item-img img {
  width: 100%;
  display: block;
}
.about-service__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 118%;
  color: #000000;
  margin-top: 37px;
}
.about-service__item-desc {
  margin-top: 22px;
  font-size: 18px;
}
.about-service__item-desc p {
  line-height: 142%;
  margin-top: 12px;
}

.contacts .contact-card {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.news {
  padding: 33px 0 120px;
}
.news__title {
  margin-top: 50px;
}
.news__items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 30px;
}
@media screen and (max-width: 1300px) {
  .news__items {
    gap: 40px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .news__items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .news__items {
    grid-template-columns: 1fr;
  }
}

.news-page {
  padding: 33px 0 120px;
}
.news-page__title {
  margin-top: 50px;
}
.news-page__date {
  margin-top: 14px;
}
.news-page__img {
  margin-top: 38px;
  max-width: 835px;
}
.news-page__img img {
  width: 100%;
}
.news-page__text {
  margin-top: 38px;
  max-width: 890px;
}
.news-page__text p {
  font-size: 18px;
  line-height: 142%;
  margin-top: 25px;
}

.map {
  height: 400px;
  width: 100%;
  margin-top: 92px;
}
@media screen and (max-width: 992px) {
  .map {
    width: calc(100% + 40px);
    margin: 75px 0 0 -20px;
  }
}
@media screen and (max-width: 369px) {
  .map {
    margin-left: -10px;
    width: calc(100% + 20px);
  }
}

.feedback-page {
  padding: 33px 0 120px;
}
.feedback-page__title {
  margin-top: 50px;
}
.feedback-page .feedback-card {
  min-height: 420px;
}
@media screen and (max-width: 992px) {
  .feedback-page .feedback-card {
    min-height: 362px;
  }
}

@media screen and (max-width: 1200px) {
  .about-service {
    padding: 40px 0 27px;
  }
  .about-service__inner {
    margin-top: 43px;
  }
  .about-service__left, .about-service__right {
    width: 49%;
  }
  .about-service__subtitle {
    margin-top: 50px;
  }
  .about-service__info {
    padding: 35px 20px;
  }
  .about-service__items {
    gap: 10px;
    margin-top: 32px;
  }
  .about-service__item-title {
    font-size: 21.3978px;
    margin-top: 20px;
  }
  .about-service__item-desc {
    font-size: 16.0484px;
    margin-top: 5px;
  }
  .about-service__item-desc p {
    margin-top: 0;
  }
  .about-service__item-desc p:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 992px) {
  .about-service__inner {
    display: block;
    margin-top: 0;
    position: relative;
  }
  .about-service__left, .about-service__right {
    width: 100%;
    max-width: unset;
    margin: 0;
  }
  .about-service__desc {
    margin-top: 268px;
    font-size: 16px;
  }
  .about-service__desc p {
    margin-top: 15px;
  }
  .about-service__img {
    position: absolute;
    top: 72px;
    left: 0;
    height: 220px;
    width: auto;
  }
  .about-service__info {
    width: calc(100% + 40px);
    margin: 45px 0 0 -20px;
  }
}
@media screen and (max-width: 992px) and (max-width: 369px) {
  .about-service__info {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}
@media screen and (max-width: 992px) {
  .about-service__items {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .news {
    padding-bottom: 60px;
  }
  .news__title {
    margin-top: 0;
  }
  .news__items {
    margin-top: 34px;
    row-gap: 30px;
  }

  .news-page {
    padding-bottom: 60px;
  }
  .news-page__title {
    margin-top: 0;
    font-size: 24px;
  }
  .news-page__date {
    margin-top: 5px;
  }
  .news-page__img {
    margin-top: 35px;
    width: calc(100% + 40px);
    margin-left: -20px;
    max-width: unset;
  }
}
@media screen and (max-width: 992px) and (max-width: 369px) {
  .news-page__img {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}
@media screen and (max-width: 992px) {
  .news-page__text {
    margin-top: 25px;
  }
  .news-page__text p {
    font-size: 15px;
    margin-top: 15px;
  }

  .contacts .about-service__img {
    top: 50px;
  }

  .feedback-page {
    padding-bottom: 60px;
  }
  .feedback-page__title {
    margin-top: 0;
    font-size: 24px;
  }
}
.modal-backdrop.in {
  background: rgba(31, 32, 34, 0.67);
  opacity: 1;
}

.modal-dialog {
  width: 380px;
  padding: 37px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  min-height: 380px;
}
@media screen and (max-width: 768px) {
  .modal-dialog {
    margin: 80px auto 0;
  }
}
@media screen and (max-width: 410px) {
  .modal-dialog {
    width: calc(100% - 24px);
  }
}
.modal .ask__form {
  width: 100%;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .modal .ask__form-title {
    font-size: 22.9773px;
  }
}
.modal input {
  background: #F5F5F5;
}
.modal__close {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 15px;
  background-color: transparent;
}
@media screen and (max-width: 460px) {
  .modal__close {
    left: unset;
    right: 0;
    top: unset;
    bottom: 100%;
    margin: 0 0 9px;
  }
}
.modal__check {
  margin-top: 20px;
  position: relative;
}
.modal__check input {
  opacity: 0;
  position: absolute;
}
.modal__check input:checked + label::before {
  background-color: #0345FF;
  border-color: #0345FF;
}
.modal__check label {
  padding-left: 23px;
  position: relative;
  font-size: 12px;
  line-height: 137%;
  color: #858C91;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}
.modal__check label:before {
  transition: all .3s;
  content: '';
  position: absolute;
  z-index: 1;
  width: 13px;
  height: 13px;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  left: 0;
  top: 0;
}
.modal__check label a {
  color: #0345FF;
}
.modal__thanks {
  padding-top: 110px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .modal__thanks {
    padding-top: 80px;
  }
}
.modal__thanks-icon {
  background: #DAFFD3;
  border-radius: 18.3678px;
  width: 47px;
  height: 47px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__thanks-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 124%;
  margin-top: 19px;
  color: #000000;
}
.modal__thanks-desc {
  font-size: 15px;
  line-height: 132%;
  color: #151515;
  margin-top: 7px;
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    padding: 33px;
  }
}
.repair {
  padding-top: 80px;
  padding-bottom: 80px;
}
.repair__inner {
  display: flex;
}
.repair__left {
  width: 643px;
  padding-right: 56px;
  flex-shrink: 0;
}
.repair__right {
  width: calc(100% - 643px);
  flex-shrink: 0;
}
.repair__title span {
  background: #D2E4FF;
  border-radius: 14px;
  padding: 10px;
  margin-left: -10px;
}
.repair__desc {
  margin-top: 20px;
}
.repair__text {
  font-size: 18px;
  line-height: 142%;
  color: #1C162B;
}
.repair__text:not(:last-child) {
  margin-bottom: 20px;
}
.repair__text span {
  font-weight: 600;
}
.repair__img {
  padding-top: 20px;
  position: relative;
}
.repair__img:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #0345FF;
  opacity: 0.2;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translate(-20px, 20px);
}
.repair__img img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.repair__items {
  margin-top: 45px;
}
.repair__items-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 142%;
}
.repair__item {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
}
.repair__btn {
  margin: 28px 15px 0 0;
  width: 157.59px;
  height: 49.41px;
  border-radius: 68.1105px;
  font-size: 21.368px;
  line-height: 142%;
}

.services {
  padding-bottom: 115px;
}
.services__title {
  font-weight: 600;
  font-size: 33px;
}
.services__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 21px;
  margin-top: 33px;
}
.services__card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.services__card-img {
  width: 284px;
  height: 149px;
}
.services__card-img img {
  width: 100%;
  height: 100%;
}
.services__card-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 106%;
  margin-top: 25px;
}
.services__card-text {
  font-size: 15px;
  line-height: 141%;
  margin: 15px 0;
}
.services__card-btn {
  font-size: 15px;
  line-height: 141%;
  box-sizing: border-box;
  border-radius: 50px;
  width: 147px;
  height: 40px;
  margin-top: auto;
  flex-shrink: 0;
}
.services__card-btn svg {
  margin-left: 11px;
}

.price-list {
  padding-bottom: 40px;
  border-radius: 19px;
}
.price-list__inner {
  background: #F7F8FD;
  padding: 45px;
  position: relative;
  border-radius: 19px;
}
.price-list__arrow {
  position: absolute;
  left: 307px;
  top: -22px;
}
.price-list__title {
  font-weight: 600;
  font-size: 33px;
  color: #000000;
}
.price-list__text {
  max-width: 686px;
  font-size: 15px;
  line-height: 141%;
  margin-top: 10px;
}
.price-list__items {
  margin-top: 40px;
}
.price-list__item {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(7, 7, 7, 0.02);
  border-radius: 7px;
  padding: 12px 32px 13px 26px;
}
.price-list__item:not(:last-child) {
  margin-bottom: 6px;
}
.price-list__item-text {
  width: calc(100% - 578px);
  flex-grow: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 106%;
}
.price-list__item-time {
  max-width: 205px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 106%;
}
.price-list__item-price {
  max-width: 255px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 106%;
}
.price-list__item-btn {
  width: 118px;
  height: 34px;
  background: #0345FF;
  border-radius: 50px;
  font-size: 14px;
  line-height: 19px;
  flex-shrink: 0;
}
.price-list .contact-card {
  background-color: transparent;
  padding-left: 25px;
  padding-right: 25px;
  padding: 38px 25px 60px;
  margin-top: 0;
}

.benefits {
  padding: 40px 0 120px;
}
.benefits__title {
  text-align: center;
}
.benefits__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - (54px / 4)));
  gap: 18px;
}
.benefits__card {
  background: #FFFFFF;
  border-radius: 12px;
  min-height: 385px;
  padding: 50px 34px;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
}
.benefits__card-img {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0345FF;
}
.benefits__card-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 106%;
  margin-top: 30px;
}
.benefits__card-text {
  font-size: 15px;
  line-height: 141%;
  margin-top: 10px;
}

.advantage {
  padding: 60px 0 86px;
}
.advantage__left {
  width: 608px;
  padding-right: 64px;
}
.advantage__right {
  width: calc(100% - 608px);
}
.advantage__item {
  display: flex;
}
.advantage__desc {
  font-weight: 500;
  font-size: 17.8717px;
  line-height: 126%;
  margin-bottom: 20px;
  color: #0345FF;
  display: block;
}
.advantage__item:not(:last-child) {
  margin-bottom: 90px;
}
.advantage__item-left {
  width: 561px;
}
.advantage__item-right {
  width: calc(100% - 561px);
}
.advantage__item-title span {
  background: #D2E4FF;
  padding: 10px;
  margin-left: -10px;
  border-radius: 14px;
}
.advantage__item-desc {
  display: flex;
}
.advantage__item-desc:not(:last-child) {
  margin-bottom: 31px;
}
.advantage__item-desc svg {
  flex-shrink: 0;
}
.advantage__item-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 136%;
  margin-left: 18px;
}
.advantage__item-text span {
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .services__items {
    grid-template-columns: 1fr 1fr;
  }
  .services__card-img {
    width: 100%;
    height: 100%;
  }

  .price-list__item-price {
    max-width: 200px;
  }

  .repair__left, .repair__right {
    width: 49%;
  }
}
@media screen and (max-width: 1200px) {
  .repair__inner {
    display: block;
  }
  .repair__left {
    width: 100%;
    padding-right: 0;
  }
  .repair__right {
    width: 100%;
    margin-top: 40px;
  }
  .repair__img {
    padding-top: 0;
  }

  .benefits__items {
    overflow-x: auto;
    display: flex;
    gap: unset;
    padding-bottom: 10px;
  }
  .benefits__items::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .benefits__items::-webkit-scrollbar-track {
    background: #7786A5;
  }
  .benefits__items::-webkit-scrollbar-thumb {
    background: #2551AF;
    border-radius: 20px;
  }
  .benefits__card {
    width: 220px;
    padding: 38px 25px;
    margin-right: 13px;
    min-height: 285px;
    flex-shrink: 0;
  }
  .benefits__card-img {
    width: 70.9px;
    height: 70.9px;
  }
  .benefits__card-img img {
    width: 25px;
  }
  .benefits__card-title {
    font-size: 16.0092px;
    margin-top: 23px;
  }
  .benefits__card-text {
    font-size: 11.4351px;
    margin-top: 8px;
  }

  .advantage__item {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .repair {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .repair__title span {
    padding: 5px;
    margin-left: -5px;
  }
  .repair__text {
    font-size: 16px;
  }
  .repair__items-title {
    margin-bottom: 7px;
  }
  .repair__btn {
    font-size: 13.6947px;
    width: 101px;
    height: 31.67px;
    margin: 18px 10px 0 0;
  }

  .services {
    padding-bottom: 45px;
  }
  .services__title {
    font-size: 26px;
  }
  .services__items {
    grid-template-columns: 1fr;
    margin-top: 10px;
    gap: 38px 0;
  }
  .services__card-text {
    margin: 15px 0 25px;
  }
  .services__card-btn {
    width: 155.33px;
    height: 42.27px;
  }

  .price-list {
    background: #F7F8FD;
    padding: 50px 0;
  }
  .price-list__inner {
    padding: 0;
  }
  .price-list__title {
    font-size: 28px;
    line-height: 126%;
  }
  .price-list__items {
    margin-top: 25px;
  }
  .price-list__item {
    flex-wrap: wrap;
    width: calc(100% + 32px);
    margin-left: -16px;
    padding: 12px 15px;
    border-radius: 5.08004px;
  }
}
@media screen and (max-width: 992px) and (max-width: 369px) {
  .price-list__item {
    width: calc(100% + 12px);
    margin-left: -6px;
  }
}
@media screen and (max-width: 992px) {
  .price-list__item:not(:last-child) {
    margin-bottom: 4px;
  }
  .price-list__item-text {
    width: calc(100% - 100px);
    font-size: 12px;
  }
  .price-list__item-btn {
    width: 94px;
    height: 24px;
    order: 2;
    font-size: 12px;
  }
  .price-list__item-time {
    order: 3;
    font-size: 12px;
  }
  .price-list__item-price {
    order: 4;
    font-size: 11px;
  }
  .price-list .contact-card {
    padding: 40px 5px;
  }

  .advantage__desc {
    font-size: 15px;
  }
  .advantage__item:not(:last-child) {
    margin-bottom: 70px;
  }
  .advantage__item-title span {
    padding: 5px;
    margin-left: -5px;
  }
  .advantage__item-left {
    display: none;
  }
  .advantage__item-right {
    width: 100%;
  }
  .advantage__item-title {
    margin-bottom: 48px;
  }
  .advantage__item-desc:not(:last-child) {
    margin-bottom: 20px;
  }
  .advantage__item-desc svg {
    width: 21px;
    height: 21px;
  }
  .advantage__item-text {
    font-size: 14px;
  }
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.swiper-button-prev,
.swiper-button-next {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  background: #009BE3;
  border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 155, 227, 0.9);
}
@media screen and (max-width: 360px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }
  .swiper-button-prev img,
  .swiper-button-next img {
    width: 15px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1254px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 369px) {
  .container {
    padding: 0 10px;
  }
}
