.main {
    padding: 55px 0 110px;
    background-color: #f3f3f5;
    position: relative;
    &--remont {
        background: #191D2D;
        color: #FFFFFF;
        .main__bg {
            padding-left: calc(100% - 650px - (100% - 1224px) / 2);
            @media screen and (max-width: 1300px) {
                padding-left: calc(100% - 650px - (100% - 1340px) / 2);
            }
            @media screen and (max-width: 992px) {
                padding-left: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        text-align: right;
        img {
            height: 100%;
            width: auto;
            margin-left: auto;
        }
        &-mob {
            display: none;
        }
        &-dekstop {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &__inner {
        max-width: 630px;
        position: relative;
        z-index: 2;
    }
    &__address {
        font-weight: 500;
        font-size: 19.1697px;
        line-height: 150%;
        display: flex;
        align-items: center;
        svg {
            margin-right: 11px;
        }
    }
    &__title {
        margin-top: 24px;
    }
    &__items {
        margin-top: 15px;
    }
    &__item {
        margin-top: 9px;
        padding-left: 22px;
        font-weight: 500;
        font-size: 17.4778px;
        line-height: 150%;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: #0345FF;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            left: 0;
            top: 9px;
        }
    }
    &__btn {
        margin-top: 54px;
        width: 291px;
        height: 62px;
        border-radius: 66.1169px;
        font-weight: 500;
        font-size: 18.5127px;
    }
    &__arrow {
        position: absolute;
        bottom: 21px;
        left: 330px;
    }
}

@media screen and (max-width: 992px) {
    .main {
        padding: 0 0 36px;
        &--remont {
            .main__inner {
                margin-top: 25px;
            }
            .main__arrow {
                // left: unset;
                // right: -20px;
                // bottom: 60px;
            }
        }
        &__bg {
            position: relative;
            left: 0;
            top: 0;
            img {
                width: 100%;
                height: auto;
            }
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #F2F2F2 100%);
                width: 100%;
                height: 100%;
            }
            &-dekstop {
                display: none;
            }
            &-mob {
                display: block;
            }
        }
        &__inner {
            margin-top: -25px;
        }
        &__address {
            font-size: 14.5713px;
            svg {
                margin-right: 8px;
            }
        }
        &__title {
            margin-top: 10px;
        }
        &__items {
            margin-top: 13px;
        }
        &__item {
            margin-top: 7px;
            padding-left: 18px;
            font-size: 14.3789px;
            &:before {
                width: 5.76px;
                height: 5.76px;
            }
        }
        &__btn {
            margin-top: 34px;
            width: 335px;
            height: 56px;
            @media screen and (max-width: 550px) {
                width: 100%;
            }
        }
        &__arrow {
            bottom: 80px;
            left: 210px;
            transform: rotate(-14deg);
            svg {
                width: 200px;
            }
        }
    }
}