.main {
    font-family: 'Inter', sans-serif;
    padding: 55px 0 110px;
    background-color: #f3f3f5;
    position: relative;
    &--remont {
        background: #191D2D;
        color: #FFFFFF;
        .main__bg {
            padding-left: calc(100% - 650px - (100% - 1224px) / 2);
            @media screen and (max-width: 1300px) {
                padding-left: calc(100% - 650px - (100% - 1340px) / 2);
            }
            @media screen and (max-width: 992px) {
                padding-left: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        text-align: right;
        img {
            height: 100%;
            width: auto;
            margin-left: auto;
        }
        &-mob {
            display: none;
        }
        &-dekstop {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &__inner {
        max-width: 630px;
        position: relative;
        z-index: 2;
    }
    &__address {
        font-weight: 500;
        font-size: 19.1697px;
        line-height: 150%;
        display: flex;
        align-items: center;
        svg {
            margin-right: 11px;
        }
    }
    &__title {
        margin-top: 24px;
    }
    &__items {
        margin-top: 15px;
    }
    &__item {
        margin-top: 9px;
        padding-left: 22px;
        font-weight: 500;
        font-size: 17.4778px;
        line-height: 150%;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: #0345FF;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            left: 0;
            top: 9px;
        }
    }
    &__btn {
        margin-top: 54px;
        width: 291px;
        height: 62px;
        border-radius: 66.1169px;
        font-weight: 500;
        font-size: 18.5127px;
    }
    &__arrow {
        position: absolute;
        bottom: 21px;
        left: 330px;
    }
}

.catalog {
    padding: 60px 0;
    &__top {
        display: flex;
        justify-content: center;
    }
    &__title {
        position: relative;
        svg {
            position: absolute;
            right: -30px;
            top: -15px;
        }
    }
    &__desc {
        margin-top: 17px;
        text-align: center;
        font-size: 20px;
        line-height: 142%;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px 18px;
        margin-top: 43px;
    }
}

.about {
    padding: 40px 0 100px;
    &__subtitle {
        text-align: center;
    }
    &__title {
        text-align: center;
        max-width: 950px;
        margin: 29px auto 0;
        line-height: 126%;
        span {
            background: #E1EDFF;
            border-radius: 14px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 85px;
    }
    &__left {
        width: 590px;
        margin-right: 20px;
        flex-shrink: 0;
        img {
            width: 100%;
            box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
        }
    }
    &__right {
        max-width: 540px;
    }
    &__title2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 126%;
    }
    &__desc {
        margin-top: 25px;
        p {
            margin-top: 20px;
            font-size: 18px;
            line-height: 142%;
            color: #1C162B;
        }
        span {
            color: #0345FF;
            font-weight: 600;
        }
    }
}

.service {
    padding: 0 0 100px;
    &__inner {
        padding-top: 100px;
        border-top: 2px solid #F2F4FF;
        display: flex;
        justify-content: space-between;
    }
    &__left {
        max-width: 580px;
    }
    &__right {
        width: 517px;
        flex-shrink: 0;
        margin-left: 10px;
        padding-left: 30px;
        position: relative;
        img {
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }
    &__img {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: #0345FF;
            opacity: 0.2;
            border-radius: 10px;
            width: calc(100% - 30px);
            height: 100%;
            bottom: 0;
            left: 0;
            transform: translate(-30px, 24px);
        }
    }
    &__title {
        margin-top: 20px;
        line-height: 126%;
        span {
            background: #D2E4FF;
            border-radius: 14px;
            padding: 5px;
        }
    }
    &__desc {
        font-size: 18px;
        line-height: 142%;
        color: #1C162B;
        margin-top: 20px;
        max-width: 502px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 44px;
    }
    &__item {
        &-icon {
            width: 53px;
            height: 53px;
            background: #0345FF;
            border-radius: 14.6921px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 118%;
            color: #000000;
            margin-top: 18px;
        }
        &-desc {
            margin-top: 22px;
            font-size: 18px;
            p {
                line-height: 142%;
                margin-top: 15px;
            }
        }
    }
}

.advantages {
    background: #F6FAFF;
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        max-width: 545px;
    }
    &__right {
        width: 626px;
        flex-shrink: 0;
        margin-left: 10px;
        padding-left: 30px;
        position: relative;
        img {
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }
    &__img {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background: #0345FF;
            opacity: 0.2;
            border-radius: 10px;
            width: calc(100% - 30px);
            height: 100%;
            bottom: 0;
            left: 0;
            transform: translate(-23px, 27px);
        }
    }
    &__title {
        margin-top: 20px;
        line-height: 126%;
        span {
            background: #D2E4FF;
            border-radius: 14px;
            padding: 5px;
        }
    }
    &__desc {
        font-size: 18px;
        line-height: 142%;
        color: #1C162B;
        margin-top: 20px;
        max-width: 502px;
    }
    &__items {
        margin-top: 65px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        @media screen and (max-width: 1300px) {
            gap: 20px 10px;
        }
    }
    &__item {
        font-weight: 500;
        font-size: 17px;
        line-height: 136%;
        display: flex;
        &-icon {
            flex-shrink: 0;
            margin-right: 18px;
        }
    }
}

.feedback {
    padding: 80px 0 160px;
    &--bg {
        background: #F7F8FD;
    }
    &__stars {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__star {
        &:not(:last-child) {
            margin-right: 4.5px;
        }
    }
    &__top {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    &__title {
        position: relative;
        svg {
            position: absolute;
            left: 100%;
            bottom: 100%;
            transform: translate(40px, 20px);
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 13px;
        margin-top: 40px;
        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }
}

.ask {
    padding: 160px 0 220px;
    background: #1C2030;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        color: #fff;
        max-width: 500px;
        padding-bottom: 80px;
        position: relative;
    }
    &__right {
        width: 595px;
        position: relative;
    }
    &__arrow {
        position: absolute;
        left: 250px;
        bottom: -50px;
    }
    &__img {
        position: absolute;
        left: 0;
        top: -50px;
        border-radius: 10px;
        display: block;
    }
    &__title {
        &>span {
            background: #31374E;
            border-radius: 14px;
            padding: 10px;
            margin-left: -10px;
            position: relative;
        }
        svg {
            position: absolute;
            left: 100%;
            bottom: 100%;
            transform: translate(-13px, 13px);
        }
    }
    &__desc {
        font-size: 18px;
        letter-spacing: -0.02em;
        p {
            line-height: 152%;
            margin-top: 25px;
        }
        a {
            color: #FF3131;
            font-weight: 700;
        }
    }
    &__form {
        background: #FFFFFF;
        box-shadow: 0px 15.4696px 30px rgba(53, 134, 255, 0.1);
        border-radius: 14.3646px;
        width: 400px;
        margin-left: auto;
        padding: 49px 49px 45px;
        position: relative;
        z-index: 2;
        &-title {
            font-weight: 600;
            font-size: 27.0475px;
            line-height: 107%;
            letter-spacing: -0.02em;
        }
        &-desc {
            font-size: 15.4696px;
            line-height: 131%;
            letter-spacing: -0.02em;
            margin: 10px 0 20px;
        }
        &-group {
            margin-bottom: 14px;
            input {
                background: #F7F7F9;
                border-radius: 5.52486px;
                height: 42px;
                padding: 0 11px;
                font-size: 14px;
                letter-spacing: -0.02em;
                color: #3D4858;
                border: none;
                width: 100%;
            }
        }
        &-btn {
            height: 58px;
            width: 100%;
            margin-top: 20px;
            font-weight: 500;
            font-size: 16px;
            border-radius: 4px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .catalog {
        overflow: hidden;
        .container {
            padding-right: 0;
        }
        &__items {
            display: flex;
            gap: unset;
            overflow-x: auto;
            @include scroll();
            padding-bottom: 10px;
        }
        &__item {
            width: 270px;
            margin-right: 18px;
            flex-shrink: 0;
        }
    }
    .about {
        &__inner {
            margin-top: 49px;
        }
        &__title {
            margin-top: 12px;
        }
        &__left {
            width: 450px;
        }
        &__desc {
            margin-top: 12px;
            p {
                margin-top: 0;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .service {
        &__items {
            gap: 15px;
        }
        &__item {
            &-title {
                font-size: 22px;
            }
            &-desc {
                font-size: 15px;
            }
        }
    }
    .advantages {
        &__right {
            width: 500px;
        }
    }
    .ask {
        &__img {
            display: none;
        }
        &__arrow {
            left: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        padding: 0 0 36px;
        &--remont {
            .main__inner {
                margin-top: 25px;
            }
        }
        &__bg {
            position: relative;
            left: 0;
            top: 0;
            img {
                width: 100%;
                height: auto;
            }
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #F2F2F2 100%);
                width: 100%;
                height: 100%;
            }
            &-dekstop {
                display: none;
            }
            &-mob {
                display: block;
            }
        }
        &__inner {
            margin-top: -25px;
        }
        &__address {
            font-size: 14.5713px;
            svg {
                margin-right: 8px;
            }
        }
        &__title {
            margin-top: 10px;
        }
        &__items {
            margin-top: 13px;
        }
        &__item {
            margin-top: 7px;
            padding-left: 18px;
            font-size: 14.3789px;
            &:before {
                width: 5.76px;
                height: 5.76px;
            }
        }
        &__btn {
            margin-top: 34px;
            width: 335px;
            height: 56px;
            @media screen and (max-width: 550px) {
                width: 100%;
            }
        }
        &__arrow {
            bottom: 80px;
            left: 210px;
            transform: rotate(-14deg);
            svg {
                width: 200px;
            }
        }
    }
    .catalog {
        padding: 45px 0 25px;
        &__title {
            svg {
                width: 33px;
                height: auto;
            }
        }
        &__desc {
            margin: 9px auto 0;
            font-size: 14px;
            line-height: 133%;
            max-width: 250px;
        }
        &__items {
            margin-top: 24px;
        }
        &__item {
            width: 205px;
            margin-right: 12px;
        }
    }
    .about {
        padding: 50px 0;
        &__inner {
            display: block;
        }
        &__right {
            max-width: 100%;
            margin-top: 44px;
        }
        &__title {
            max-width: 550px;
        }
        &__title2 {
            font-size: 26px;
        }
        &__desc {
            p {
                font-size: 16px;
            }
        }
    }
    .service {
        padding-bottom: 50px;
        &__inner {
            padding-top: 50px;
            display: block;
        }
        &__left {
            max-width: 100%;
        }
        &__right {
            padding-left: 0;
            margin: 40px 0 0 0;
        }
        &__img {
            &::before {
                width: 100%;
                transform: translate(-10px, 10px);
            }
        }
        &__desc {
            font-size: 16px;
            max-width: 100%;
        }
        &__items {
            grid-template-columns: 1fr;
            margin-top: 33px;
            gap: 43px;
        }
        &__item {
            &-icon {
                width: 41px;
                height: 41px;
                img {
                    width: 24px;
                }
            }
        }
    }
    .advantages {
        padding: 40px 0 60px;
        &__inner {
            display: block;
        }
        &__left {
            max-width: 100%;
        }
        &__right {
            padding-left: 0;
            margin: 40px 0 0 0;
        }
        &__desc {
            font-size: 16px;
            max-width: 100%;
        }
        &__img {
            &::before {
                width: 100%;
                transform: translate(-10px, 10px);
            }
        }
        &__items {
            margin-top: 45px;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
        &__item {
            font-size: 15.4628px;
            &-icon {
                margin-right: 21px;
                img {
                    width: 28px;
                }
            }
        }
    }
    .feedback {
        padding: 60px 0 100px;
        &__star {
            &:not(:last-child) {
                margin-right: 3.9px;
            }
            svg {
                width: 20px;
            }
        }
        &__top {
            margin-top: 15px;
        }
        &__title {
            max-width: 210px;
            margin: 0 auto;
            text-align: center;
            svg {
                width: 160px;
                height: auto;
                transform: translate(-20px, -10px);
            }
        }
    }
    .ask {
        padding: 50px 0 0;
        &__inner {
            padding-bottom: 100px;
            display: block;
            position: relative;
        }
        &__title {
            &>span {
                padding: 5px;
                margin-left: -5px;
            }
        }
        &__desc {
            margin-top: 20px;
            p {
                font-size: 15px;
                margin-top: 15px;
            }
        }
        &__left {
            position: static;
            padding-bottom: 38px;
            margin: 0 auto;
        }
        &__right {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
        &__form {
            margin-left: 0;
            padding: 33px 28px 36px;
            width: unset;
            max-width: 355px;
            &-title {
                font-size: 24.5604px;
            }
            &-desc {
                font-size: 14.0471px;
            }
            &-group {
                margin-bottom: 12px;
                input {
                    height: 38.13px;
                    font-size: 12.7126px;
                }
            }
            &-btn {
                height: 52.67px;
                margin-top: 18px;
                font-size: 14.5287px;
            }
        }
        &__arrow {
            left: unset;
            right: 100%;
            transform: translate(120px, 0);
            bottom: -20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .service,
    .advantages {
        &__right {
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .about {
        &__left {
            width: calc(100% + 40px);
            margin-left: -20px;
        }
    }
}