.repair {
    padding-top: 80px;
    margin-bottom: 80px;
    &__inner {
        display: flex;
    }
    &__left {
        width: 643px;
        padding-right: 56px;
        flex-shrink: 0;
    }
    &__right {
        width: calc(100% - 643px);
        flex-shrink: 0;
    }
    &__title {
        line-height: 126%;
        span {
            background: #D2E4FF;
            border-radius: 14px;
        }
    }
    &__desc {
        margin-top: 20px;
    }
    &__text {
        font-size: 18px;
        line-height: 142%;
        color: #1C162B;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        span {
            font-weight: 600;
        }
    }
    &__img {
        padding-top: 20px;
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .repair {
        &__inner {
            display: block;
        }
        &__left {
            width: 100%;
            padding-right: 0;
        }
        &__right {
            width: 100%;
            margin-top: 40px;
        }
        &__img {
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .repair {
        padding-top: 45px;
        padding-bottom: 45px;
        &__text {
            font-size: 16px;
        }
    }
}