@mixin scroll() {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: #7786A5;
    }
    &::-webkit-scrollbar-thumb {
        background: #2551AF;
        border-radius: 20px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 0;
}

.btn-blue {
    background: #0345FF;
    color: #FFFFFF;
    &:hover {
        background: #003EEF;
        color: #FFFFFF;
    }
}

.btn-blue-outline {}

.btn-grey-outline {
    border: 2px solid #E9EAED;
    color: #0345FF;
    &:hover {
        background: #F8F8F8;
        border: 2px solid #E0E3ED;
        color: #0345FF;
    }
}

.display1 {
    font-weight: 800;
    font-size: 47.64px;
    line-height: 106%;
    @media screen and (max-width: 992px) {
        font-size: 25.4921px;
    }
}

.display2 {
    font-weight: 600;
    font-family: 'Graphik LC', sans-serif;
    font-size: 42px;
    line-height: 106%;
    @media screen and (max-width: 992px) {
        font-size: 25.4921px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 17.8717px;
    line-height: 126%;
    color: #0345FF;
    @media screen and (max-width: 992px) {
        font-size: 15px;
    }
}

.breadcrumbs {
    color: #242A3D;
    display: flex;
    align-items: center;
    &--white {
        color: #fff;
        path {
            fill: #fff;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 150%;
        position: relative;
        &:not(:first-child) {
            &:before {
                content: '/';
                margin: 0 14px;
            }
        }
        &:hover {
            path {
                fill: #8A8E9B;
            }
        }
        svg {
            margin-top: -3px;
        }
    }
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.remont-card {
    background: #FFFFFF;
    box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: hidden;
    padding: 0 25px 43px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &:hover {
        .remont-card__img::before {
            background: rgba(0, 0, 0, 0.16);
        }
    }
    &__img {
        position: relative;
        width: calc(100% + 50px);
        margin-left: -25px;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transition: all .3s;
        }
        img {
            width: 100%;
        }
    }
    &__icon {
        background: #020827;
        border: 3.4386px solid #FFFFFF;
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: -24px;
        position: relative;
        z-index: 3;
    }
    &__title {
        font-weight: 600;
        font-size: 21px;
        line-height: 106%;
        margin-top: 15px;
    }
    &__desc {
        font-size: 15px;
        line-height: 141%;
        max-width: 210px;
        margin: 15px 0 40px;
    }
    &__btn {
        width: 147px;
        height: 40px;
        border-radius: 50px;
        font-weight: 500;
        font-size: 14px;
        margin-top: auto;
        svg {
            margin-left: 11px;
        }
    }
    @media screen and (max-width: 992px) {
        padding: 0 17px 30px;
        &__img {
            width: calc(100% + 34px);
            margin-left: -17px;
        }
        &__title {
            font-size: 15px;
            margin-top: 10px;
        }
        &__desc {
            font-size: 10.7143px;
            margin: 10px 0 28px;
        }
        &__btn {
            width: 105px;
            height: 28.57px;
            font-size: 10px;
            svg {
                width: 10px;
                height: auto;
                margin-left: 7px;
            }
        }
    }
}

.feedback-card {
    background: #FFFFFF;
    box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    height: 100%;
    padding: 36px 31px;
    min-height: 320px;
    &__stars {
        display: flex;
        align-items: center;
    }
    &__star {
        &:not(:last-child) {
            margin-right: 3.3px;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 19.3248px;
        line-height: 110%;
        color: #050515;
        margin-top: 36px;
    }
    &__desc {
        font-size: 16.426px;
        margin-top: 17px;
        line-height: 144%;
        color: #08061A;
    }
}

.contact-card {
    margin-top: 35px;
    background: #EDF4FD;
    border-radius: 30px;
    padding: 58px 64px 100px;
    text-align: center;
    &__title {
        margin-top: 7px;
    }
    &__desc {
        font-size: 18px;
        line-height: 131%;
        margin-top: 28px;
    }
    &__links {
        margin-top: 49px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    &__link {
        border-radius: 41.4743px;
        height: 48.73px;
        font-weight: 600;
        font-size: 15.5529px;
        color: #fff;
        svg {
            margin-right: 10px;
        }
        &:hover {
            color: #fff;
            opacity: 0.9;
            box-shadow: none;
        }
        &--whatsapp {
            background: #3AD556;
            box-shadow: 0px 4px 24px rgba(58, 212, 86, 0.45);
        }
        &--viber {
            background: #7326B9;
            box-shadow: 0px 4px 34px rgba(115, 38, 185, 0.35);
        }
        &--telegram {
            background: #2A9EF2;
            box-shadow: 0px 4px 24px rgba(42, 158, 242, 0.45);
        }
        &--vk {
            background: #3C76CC;
            box-shadow: 0px 4px 32px rgba(60, 118, 204, 0.45);
        }
    }
    @media screen and (max-width: 1200px) {
        padding: 40px 13px 77px;
        &__desc {
            font-size: 14.4666px;
            margin-top: 20px;
        }
        &__links {
            grid-template-columns: 1fr 1fr;
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 600px) {
        &__links {
            gap: 16px;
            grid-template-columns: 1fr;
            max-width: 250px;
        }
    }
}

.news-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__img {
        display: block;
        overflow: hidden;
        height: 182px;
        img {
            width: 100%;
            min-height: 100%;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 117%;
        letter-spacing: -0.02em;
        color: #000000;
        display: block;
        margin-top: 17px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover {
            color: #0345FF;
        }
    }
    &__desc {
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.02em;
        color: #5B5E68;
        margin: 13px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &__hint {
        font-weight: 500;
        font-size: 16px;
        line-height: 136%;
        letter-spacing: -0.02em;
        color: #0345FF;
        margin-top: auto;
    }
    @media screen and (max-width: 1200px) {
        &__img {
            height: 210px;
        }
    }
    @media screen and (max-width: 992px) {
        &__img {
            height: 170px;
        }
        &__title {
            font-size: 19.7708px;
            margin-top: 15px;
        }
        &__desc {
            font-size: 14.3787px;
            margin: 11px 0;
        }
        &__hint {
            font-size: 14.3787px;
        }
    }
    @media screen and (max-width: 768px) {
        &__img {
            height: unset;
            img {
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}